*{
    margin:0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

body, .snake{
    background-color: #414141;
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(20,20px);
}